<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Welcom Fortune Cloud ATM</h2> 

    <form action="login" method="post">
            {% csrf_token %}

             Name:<input type="text" name="fname" placeholder="Full Name" required><br><br>
             Create Atm Pin:<input type="number" name="anum" placeholder="Atm Pin Create"><br><br>
             Mobile Number:<input type="number" name="num" placeholder="Mobile Number"><br><br>
             Email:<input type="email" name="email" placeholder="Email"><br><br>
             Password:<input type="password" name="password" placeholder="Password"><br><br>
              

            <button type="submit">Submit</button><br><br>
            <button type="submit">Login</button><br><br>
        </form>
    
    
</body>
</html> -->